.addDog-form {
    background-color: rgba(121, 255, 24, 0.31);
    width:50%;
    border:3px solid gray;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top:91px; left: 0px; right: 0px;
    height: 475px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.savebutton {
    display: inline-block;
    height: 26px;
    margin-top:20px;
    margin-right:34px;
    width: 99px;
    background: rgba(121, 255, 24, 0.65);
    border: none;
    border-radius: 10px;
    color: white;
    background: black;
    font-size: 16px;
    font-family: sans-serif;
    text-allign:center;
    cursor: pointer;
}

.centerButton{
    text-align:center;
    margin:auto;
}

input[type="text"] {
    height: 30px;
    width: 300px;
    font-size: 16px;
    font-family: sans-serif;
    margin: 12px;
}

.custom-label {
    font-family: sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 100px;
    margin-left:140px;
}

.checkbox_labels{
    color:black;
    width: 350px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 140px;
}

h2{
    margin-top:25px;
    text-align: center;
    font-size:35px;
    font-family:sans-serif;
}

