html {
    line-height: 1.4;
}

body {
    padding: 0;
    margin: 0;
}

h2{
    margin-top:25px;
    text-align: center;
    font-size:35px;
    font-family:sans-serif;
}
form{
    height:400px;
    width:600px;
    margin:auto;
    background-color: rgba(121, 255, 24, 0.31);
    border-radius: 5px;
    border:3px solid gray;
    margin-top:50px;
}
.greenbar{
    color: #6f564c;
    font-family: fantasy;
    font-size: 25px;
    width: 100%;
    height: 31px;
    background-color: rgba(121, 255, 24, 0.31);
    padding-top: 6px;
}
#name{
    margin-left:25px;
    margin: 25px;
}
#breed{
    margin-left: 25px;
    margin: 25px;
}

#sex{
    margin-left: 25px;
    margin: 25px;
}

#wght{
    width: 10px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#weight{
    width: 25px;
    margin-left:47px;
}

#age{
    width: 25px;
    margin-left: 25px;
}

#aagg{
    width: 8px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fixed{
    width: 25px;
    margin-left: 25px;
}

#fxd{
    width: 99px;
    margin-left: 25px;

}
.custom-label {
    color: #646464;
    display: inline-block;
    width: 150px;
    font-size: 23px;
    margin-top:2px;
    margin-left:13px;
    margin-bottom: 2px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#ftr{
    background-color: rgba(121, 255, 24, 0.65);
    font-family: sans-serif;
    color: #6f564c;
    height:18px;
    font-size:10px;
    padding: 7px 0px 0px 1288px;
    margin: 0px;
}

.text-box{
    font-family: sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
}

.text-area {
    display: block;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
    font-size: 18px;
}

.backbutton {
    display: inline-block;
    margin-right:34px;
    float: right;
}

.save-button {
    display: block;
    margin: auto;
}

.button-styles {
    height: 26px;
    width: 99px;
    color: white;
    border: none;
    border-radius: 10px;
    background: black;
    font-size: 16px;
    font-family: sans-serif;
}
.backbutton {
    display: inline-block;
    height: 26px;
    margin-right:34px;
    width: 99px;
    color: white;
    float: right;
    border: none;
    border-radius: 10px;
    background: black;
    font-size: 16px;
    font-family: sans-serif;
}

