html {
    line-height: 1.4;
}

body {
    padding: 0;
    margin: 0;
}

h2{
    color: #6f564c;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
    font-family: fantasy;
    font-size:29px;
    padding: 3px 0px 0px 0px;
}

label{
    /*margin-left: 81px;*/
    /*margin-top: 10px;*/
}

.centerButton{
    margin-bottom: 10px;
}

.greenbar{
    background-color: rgba(121, 255, 24, 0.31);
    margin-left:80px;
}

#name{
    margin-left:30px;
    margin: 40px;
}

#breed{
    margin-left: 25px;
    margin: 25px;
}

#sex{
    margin-left: 50px;
    margin: 25px;
}

#wght{
    width: 10px;
    margin-left: 25px;
    margin: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#weight{
    width: 10px;
    margin-left:15px;
}

#age{
    width: 10px;
    margin-left: 15px;
}

#aagg{
    width: 8px;
    margin-left: 61px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fixed{
    width: 10px;
    margin-left: 6px;
}

#fxd{
    width: 64px;
    margin-left: 73px;
}

.custom-label {
    color: #646464;
    font-weight: bold;
    display: inline-block;
    width: 150px;
    font-size: 16px;
    margin-top:2px;
    margin-left:13px;
    margin-bottom: 2px;
}

#appnt {
    vertical-align: top;
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    width: 22%;
    font-size: 16px;
}

#meds {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#vacc {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#diet {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#ftr{
    background-color: rgba(121, 255, 24, 0.65);
    font-family: sans-serif;
    color: #6f564c;
    height:18px;
    font-size:10px;
    padding: 7px 0px 0px 1111px;
    margin: 0px;
}

.plus-button {
    margin-left:10px;
    height: 20px;
}

.appointment-container {
    margin-top: 8px;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: 2px solid gray;
    width: 65%;
    margin-left:30%;
}

.subHeader {
    font-size: 24px;
    margin-left: 80px;
}
