html {
    line-height: 1.4;
}

body {
    padding: 0;
    margin: 0;
}

h2{
    color: #6f564c;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
    font-family: fantasy;
    font-size:29px;
    padding: 3px 0px 0px 0px;
}

.centerButton{
    margin-bottom: 10px;
}

.greenbar{
    color: #6f564c;
    font-family: fantasy;
    font-size: 25px;
    width: 100%;
    height: 31px;
    background-color: rgba(121, 255, 24, 0.31);
    padding-top: 6px;
}

#name{
    margin-left:25px;
    margin: 25px;
}

#breed{
    margin-left: 25px;
    margin: 25px;
}

#sex{
    margin-left: 25px;
    margin: 25px;
}

#wght{
    width: 10px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#weight{
    width: 25px;
    margin-left:47px;
}

#age{
    width: 25px;
    margin-left: 25px;
}

#aagg{
    width: 8px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fixed{
    width: 25px;
    margin-left: 25px;
}

#fxd{
    width: 99px;
    margin-left: 25px;

}

.custom-label {
    color: #646464;
    display: inline-block;
    width: 150px;
    font-size: 23px;
    margin-top:2px;
    margin-left:13px;
    margin-bottom: 2px;
}

#appnt {
    vertical-align: top;
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    width: 22%;
    font-size: 16px;
}

#meds {
    margin-top: 10px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#vacc {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#diet {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#ftr{
    background-color: rgba(121, 255, 24, 0.65);
    font-family: sans-serif;
    color: #6f564c;
    height:18px;
    font-size:10px;
    padding: 7px 0px 0px 1288px;
    margin: 0px;
}

.plus-button {
    cursor: pointer;
    margin-left:10px;
    height: 20px;
}

.items-container{
    margin-top: 8px;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: 2px solid gray;
    width: 65%;
    margin-left:30%;
}

.subHeader {
    font-size: 24px;
    margin-left: 80px;
    margin-top: 5px;
}

.backbutton {
    display: inline-block;
    height: 26px;
    margin-right:34px;
    width: 99px;
    color: white;
    float: right;
    border: none;
    border-radius: 10px;
    background: black;
    font-size: 16px;
    font-family: sans-serif;
}
